  svg {
    width: 300px;
  }
  
  div.gradient {
    width: 856px; 
    height: 819px;
    border-radius: 50%;
    background-image: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
  }

  @keyframes left-wing-flap {
    0% {
      transform:initial;
    }
    25% {
      transform:rotateY(-60deg)rotateX(30deg);
    }
    50% {
        transform:rotateY(60deg)rotateX(-30deg);
    }
    75% {
      transform:rotateY(-60deg)rotateX(30deg);
    }
    100% {
      transform:initial;
    }
  }
  
  @keyframes right-wing-flap {
      0% {
          transform:initial;
      }
      25% {
        transform:rotateX(60deg)rotateY(-30deg);
      }
      50% {
          transform:rotateX(-60deg)rotateY(30deg);
      }
      75% {
        transform:rotateX(60deg)rotateY(-30deg);
      }
      100% {
        transform:initial;
      }
  }

#left_wing {
  transform-origin: center;
  animation: left-wing-flap 3s cubic-bezier(.75,.14,.26,.92);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
  animation-play-state: running; 
}

#right_wing {
  transform-origin: center;
  animation: right-wing-flap 3s cubic-bezier(.75,.14,.26,.92);
  animation-iteration-count: 1;
  transform-style: preserve-3d;
  animation-play-state: running; 
}

  #color1 {
    stop-color: #FF0000;
  }

  #color2 {
    stop-color: #FF00FF;
  }

  #color3 {
    stop-color: #7055E2;
  }

  #color4 {
    stop-color: #0099CC;
  }

  #color7 {
    stop-color: #99CC66;
  }

  #color6 {
    stop-color: #00FFFF;
  }

  #color5 {
    stop-color: #0099CC;
  }

  #color8 {
    stop-color: #FFFF00;
  }

  .container {
    position: absolute;
    left: 40px;
  }