
  /* .conic-gradient {
    background-image: url('gradient.png');
    height: 300px;
    width: 300px;
  } */

  /* .clip-path {  
    clip-path: url("#butterfly");
  } */

  svg {
    width: 300px;
  }
  
  div.gradient {
    width: 856px; 
    height: 819px;
    border-radius: 50%;
    background-image: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
  }

  @keyframes left-wing-flap {
    0% {
        transform: translate3d(0, 0, 0) scaleY(1) rotate3d(0, 1, 0, -40deg);
    }
    50% {
        transform: translate3d(0, 0, 0) scaleY(1) rotate3d(0, 1, 0, 40deg);
    }
    100% {
        transform: translate3d(0, 0, 0) scaleY(1) rotate3d(0, 1, 0, -40deg);
    }
}

#left_wing {
  animation: left-wing-flap 2s infinite;
}

  /* .wrapper {
    width: 300px;
    height: 300px;
  } */
/*   
  .test {
    clip-path: url(#test);
  } */